html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}